.about-wrapper {
  padding: 60px 0 120px;
}

@media (max-width: $vp-1023) {
  .about-wrapper {
    padding: 35px 0 80px;
  }
}

@media (max-width: $vp-767) {
  .about-wrapper {
    padding: 25px 0 80px;
  }
}
