.btn {
  font-family: $ff-RobotoCondensed;
  display: block;
  padding: 15px 0;
  color: $color-default-white;
  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;
  transition: opacity $trans-default;
  border-radius: 3px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05em;
  user-select: none;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {
    opacity: 50%;
  }
}
