.button-block {
  margin-right: 60px;
  margin-top: 5px;
  align-self: flex-start;

  &__button {
    width: 160px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    color: $color-alice-blue;
    border: 1px solid $color-border-alice-blue;
    background: $black-pearl;
    padding: 9px 0 11px;
  }
}

@media (max-width: $vp-1023) {
  .button-block {
    display: none;
  }
}
