.main-footer-wrapper {
  background-color: $color-title-black-pearl;
  padding: 50px 0 55px;
}

@media (max-width: $vp-1023) {
  .main-footer-wrapper {
    padding: 50px 0 70px;
  }
}

@media (max-width: $vp-767) {
  .main-footer-wrapper {
    padding: 35px 0;
  }
}
