.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  padding: 30px 40px 28px;
}

@media (max-width: $vp-1023) {
  .main-header {
    padding: 20px 50px 15px;
  }
}

@media (max-width: $vp-767) {
  .main-header {
    padding: 10px 25px 20px 26px;
  }
}
