.promo-wrapper {
  background-color: $color-title-black-pearl;
  position: relative;
  padding-bottom: 880px;
}

@media (max-width: $vp-1023) {
  .promo-wrapper {
    padding-bottom: 540px;
  }
}

@media (max-width: $vp-767) {
  .promo-wrapper {
    padding-bottom: 490px;
  }
}
