// Desktop first

@mixin vp-1919 {
  @media (max-width: (1920 - 1px)) {
    @content;
  }
}

@mixin vp-769 {
  @media (max-width: (770 - 1px)) {
    @content;
  }
}

@mixin vp-319 {
  @media (max-width: (320 - 1px)) {
    @content;
  }
}

@mixin btn-acc {
  content: "";
  position: absolute;
  width: 15px;
  height: 1px;
  top: 50%;
  right: 8%;
  background-color: $color-silver;
}
