// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette

$color-neon-blue:                   #2c39f2;
$color-deep-sky-blue:               #00b2ff;
$color-black-pearl:                 #041427;
$color-title-black-pearl:           #041827;
$color-alice-blue:                  #f2f5f6;
$color-silver:                      #c4c4c4;

$color-background-deep-sky-blue:    #00b3ff;
$color-border-alice-blue:           #f2f5f7;
$color-border-whisper:              #ebebeb;
$color-input-black-pearl:           rgba(4, 20, 39, 0.15);


// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);
$black-pearl:                       linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);

// Typography
// ---------------------------------

$fz-default:                        16px;
$ff-Roboto:                         "Roboto", "Arial", sans-serif;
$ff-PTMono:                         "PT Mono", "Courier New", "Courier", monospace;
$ff-RobotoCondensed:                "Roboto Condensed", "Helvetica", "Arial", sans-serif;
$ff-placeholder:                    "Placeholder", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-767:                            767px;
$vp-1023:                           1023px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
